.container {
    background: white;
    max-width:900px;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile_img {
    border-radius: 5px;
}
body {
    background-color: #3a92c8;
    background: -webkit-radial-gradient(circle,#94d2f8,#3a92c8);
    background: -moz-radial-gradient(circle,#94d2f8,#3a92c8);
    background: -ms-radial-gradient(circle,#94d2f8,#3a92c8);
    background: -webkit-gradient(circle,#94d2f8,#3a92c8);
    background: -o-radial-gradient(circle,#94d2f8,#3a92c8);
}
#user_profile {
    clear:both; 
    text-align:center;
    overflow:hidden;
    background-repeat: no-repeat;
    border-radius: 10px;
}
#menu {
    float:left;
    margin-bottom:-50px;
}
#logo {
    float:right; width:200px;
    margin-bottom:-20px;
}
#logo_img {
    width:200px;
}