<!-- Start of first page: #home -->
<div data-role="page" id="home">

	<div data-role="header">
		<h1>MumbleBee Video</h1>
	</div><!-- /header -->

	<div data-role="content" >
	    <div class="content-primary">
            <div id="video_matrix" class="ui-grid-d my-breakpoint">
    	    </div>	        
	    </div>

		<p><a id="show_upload_btn" href="#upload" data-role="button">Upload</a></p>	
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
		<h4>MumbleBee Video</h4>
	</div><!-- /footer -->
</div><!-- /page one -->


<!-- Start of second page: #two -->
<div data-role="page" id="upload" data-theme="a">

	<div data-role="header">
		<h1>Upload</h1>
	</div>
	<div data-role="content" data-theme="a">
		<p>Upload a video using the Videogami API</p>	

        <form id="upload_form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data" data-ajax="false">
            <input type="text" name="title" placeholder="Title" id="basic" value="" data-ajax="false" />
            <input type="text" name="description" placeholder="Description" id="basic" value="" data-ajax="false" />
            <input type="file" data-ajax="false" name="file" id="file">
            <!--<input type="submit" value="Submit" name="sumbit" data-theme="b" data-ajax="false">-->
        </form>

        <p><a href="#home" data-direction="reverse" data-role="button" data-theme="b">Back</a></p>	
	</div>
	
	<div data-role="footer">
		<h4>MumbleBee Video</h4>
	</div>
</div>
<!-- /page two -->

<!-- Start of third page: #popup -->
<div data-role="page" id="popup">

	<div data-role="header" data-theme="e">
		<h1>MumbleBee Player</h1>
	</div>

	<div data-role="content" data-theme="d">
	    <h3 id="video_title">Video Title</h3>
		<video id="video_player" width="100%" controls>
            <source id="popup_video_src" src=""/>
        </video>
		<p id="video_description">Video Description</p>
		<p><center><a id="player_back_btn" href="#home" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back</a></center></p>	
	</div>
	
	<div data-role="footer">
		<h4>MumbleBee Video</h4>
	</div>
</div>
<!-- /page popup -->

