<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> 
    </head>
    <body>
        <%- body %>
        <script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="//code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>